@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

html {
  font-size: 14px;
}

body {
  @apply bg-gray-100 text-normal font-noto-sans-jp;
}

#root {
  @apply min-h-full;
}
